<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="venus-api-gw" version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <!-- 采用spring方式加载 -->
    <!--<servlet>-->
        <!--<servlet-name>m</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>/WEB-INF/dispatcher-servlet.xml</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>m</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>com.venus.apigw.document.APIDocumentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/info.api</url-pattern>
    </servlet-mapping>

    <!-- 人机验证(后缀统一采用.api，方便NGINX配置) -->
    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>com.venus.apigw.servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/captcha/touch.gif</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkcaptcha</servlet-name>
        <servlet-class>com.venus.apigw.servlet.CaptchaCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkcaptcha</servlet-name>
        <url-pattern>/captcha/check.api</url-pattern>
    </servlet-mapping>

</web-app>
